;;; This file is used to configure the JavaSnepsAPI so that it knows how to
;;; load and run SNePS automatically. It has two fields: one that specifies 
;;; a system command line to run sneps, and a second that specifies the 
;;; locations of the SNePS config file (sneps_config.lisp).


;;; Replace the example path below to point to the config file in your install
SNEPS_CONFIG_FILE=/projects/snwiz/Sneps262-Release/sneps_config.lisp

;;; Replace the example command below to one that will run SNePS on your system
;;; e.g. mlisp -L load-sneps.lisp
;;;      Sneps-2.7.0.exe 
;;;      
;;; Do not use a script file, this is used by the JavaSnepsAPI to append
;;; command line arguments SNePS needs to read in order to start the jlinker 
;;; process. 
SNEPS_COMMAND=mlisp -L /projects/snwiz/Sneps262-Release/load-sneps.lisp
